trunk/dtd/command.dtd

<!ELEMENT commands (command*)>
<!ATTLIST commands >

<!ELEMENT command (param*)>
<!ATTLIST command
	name CDATA #REQUIRED
	class CDATA #REQUIRED
	cache CDATA "false"
	asynch CDATA "false"
	delay CDATA "-1"
	show_stopped CDATA "true"
>

<!ELEMENT param>
<!ATTLIST param
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	value CDATA #REQUIRED
>